<div class="col-sm-6 col-sm-offset-3">
	<div class="row">
		<a class="waves-effect waves-light btn" ng-click="">Sign-In</a>
		<a class="waves-effect waves-light btn" ng-click="">Register</a>
	</div>
	<div class="row">
		<form class="login-container" ng-show="loginContainer">
			<h4>Sign-In as an Existing User</h4>
			<input class="form-control" placeholder="Email Address" type="email" ng-model="signIn.email" required autofocus>
			<input class="form-control" placeholder="Password" type="password" ng-model="signIn.password" required>
			<button class="btn waves-effect waves-light" type="submit" name="action" ng-click="">Submit
			    <i class="material-icons right">send</i>
			</button>
		</form>
		<form class="register-container" ng-show="RegisterContainer">
			<h4>Register as a New User</h4>
			<input class="form-control" placeholder="Email Address" type="email" ng-model="register.email" required autofocus>
			<input class="form-control" placeholder="Password" type="password" ng-model="register.password" required>
			<input class="form-control" placeholder="Username" type="username" ng-model="register.username" required>
			<button class="btn waves-effect waves-light" type="submit" name="action" ng-click="">Submit
			    <i class="material-icons right">send</i>
			</button>
		</form>
	</div>
</div>