<h3>My Boards</h3>

<div class="container">
	<div class="row boardContainer" ng-repeat="board in boards">
		<div class="col-sm-4">
			<div class="card">
				<div class="card-block">
					<div class="card-title text-center"><span class="h2">{{board.title}}</span> <button class="btn btn-danger fa fa-trash-o pull-right" ng-click="deleteItem(board.id)"></button></div>
						<div class="cardContainer">
							<h3>My Pins</h3>
							<div class="row pinContainer" ng-repeat="pin in pins">
								<div class="col-sm-4">
									<div class="panel panel-default">		
										<div  class="panel-heading text-center">{{pin.title}}</div>
										<div class="panel-body">
											<button class="btn btn-danger fa fa-trash-o" ng-click="deleteItem(pin.id)"></button>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>	
			</div>
		</div>
	</div>
</div>