<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchImgur">
            <span class="input-group-btn">
                <button class="btn btn-default fa fa-search" ng-click="ImgurSearch()"></button>
            </span>
        </div>
    </div>
</div>
<div class="row">
	<div ng-repeat="image in searchResults"><img src="{{image.link}}" class="col-sm-3 img-thumbnail img-rounded img-responsive"></img></div>
</div>