"use strict";

app.constant("FIREBASE_CONFIG", {
	apiKey: "",
    authDomain: "",
    databaseURL: "",
    storageBucket: "",
    messagingSenderId: ""
});

app.constant("IMGURAPIKEY", {
	client_secret: "",
	client_id:""
});